{% form_theme form 'TTTravelBundle:Form:Fields.html.twig' %}

<form action="{{ path('tt_travel_search')}}" method="post" {{form_enctype(form)}}>
        
            {{form_errors(form)}}
            <div class="col-md-2">
                <label for="dd"> Date Départ</label>
                        {{ form_errors(form.dd) }}
            </div>

            <div class="col-md-10">

                        {{ form_widget(form.dd) }}
            </div>
  

                        
             <div class="col-md-6">
                {{ form_label(form.villeDepart) }}
               
                    {{ form_errors(form.villeDepart) }}
                    {{ form_widget(form.villeDepart) }}
                
            </div>

            <div class="col-md-6">
                {{ form_label(form.villeArrivee) }}
                
                    {{ form_errors(form.villeArrivee) }}
                    {{ form_widget(form.villeArrivee) }}
               
            </div>
           
            <div class="col-md-7">
                </br>
            <button type="Submit" class="btn btn-danger">Rechercher</button>                   
            </div>
            {{ form_rest(form)}}
        </form>