{% form_theme form 'TTTravelBundle:Form:Fields.html.twig' %}

<form action="{{ path('tt_travel_search')}}" method="post" {{form_enctype(form)}}>
     
            {{form_errors(form)}}
            <div class="col-md-6">
                        {{ form_label(form.dd) }}
                        {{ form_errors(form.dd) }}
                        {{ form_widget(form.dd) }}
            </div>
            
             <div class="col-md-6">
                {{ form_label(form.dr) }}
                    {{ form_errors(form.dr) }}
                    {{ form_widget(form.dr) }}
                
            </div>
            <div class="col-md-6">
                {{ form_label(form.depart) }}
               
                    {{ form_errors(form.depart) }}
                    {{ form_widget(form.depart) }}
                
            </div>
            <div class="col-md-6">
                {{ form_label(form.arrivee) }}
                
                    {{ form_errors(form.arrivee) }}
                    {{ form_widget(form.arrivee) }}
               
            </div>
           
        </form>